# ===============================================
# VisionBox - Software
# ===============================================

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual Environment
.venv/
venv/

# Environment Variables
.env

# IDE
.vscode/
.idea

# Logs
*.log

# Database
*.db
*.sqlite3

# Build
build/
dist/
*.egg-info/
node_modules/

# Operating System
.DS_Store
Thumbs.db
